body{
    margin: 0;
    overflow: hidden;
     position: relative;
}
/* NAVBAR DESIGN */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: rgba(65, 59, 59, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* for Safari */
}

.navbar ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 75px;
}

.navbar li a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    color :goldenrod;

    transition: all 0.3s ease;
}

.navbar li a:hover{
    background-color: rgb(18, 17, 17);
    border-radius: 20px;
}

.navbar span img {
    width: 60px;
    height: 60px;
    border-radius: 35%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(234, 153, 4, 0.863);
}

.homecontainer{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#homepara{
   font-size: 30px;
    color: goldenrod;
    font-weight: bold;
}
#homebg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}